In [ ]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [ ]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'water botel', 'pr': 30, 'qn': 90},
 '1011': {'name': 'chair', 'pr': 300, 'qn': 30},
 '1012': {'name': 'notebook', 'pr': 50, 'qn': 100},
 '1013': {'name': 'pendrive', 'pr': 250, 'qn': 20},
 '1014': {'name': 'perfume', 'pr': 345, 'qn': 45},
 '1015': {'name': 'charger', 'pr': 100, 'qn': 56},
 '1016': {'name': 'face wash', 'pr': 463, 'qn': 34},
 '1017': {'name': 'laptop', 'pr': 50000, 'qn': 10},
 '1018': {'name': 'jam', 'pr': 50, 'qn': 25},
 '1019': {'name': 'lays', 'pr': 10, 'qn': 50},
 '1020': {'name': 'potato chips', 'pr': 20, 'qn': 20},
 '1021': {'name': 'diary milk', 'pr': 20, 'qn': 43},
 '1022': {'name': 'diary milk', 'pr': 50, 'qn': 10},
 '1023': {'name': 'detergent', 'pr': 200, 'qn': 23},
 '1024': {'name': 'soap', 'pr': 34, 'qn': 45},
 '1025': {'name': 'liquid hand wash', 'pr': 150, 'qn': 22},
 '1026': {'name': 'crockery set', 'pr': 555, 'qn': 5},
 '1027': {'name': 'nail paint', 'pr': 120, 'qn': 21},
 '1028': {'name': 'garam masala', 'pr': 36, 'qn': 15},
 '1029': {'name': 'towel', 'pr': 336, 'qn': 27},
 '1030': {'name': 'hand towel', 'pr': 50, 'qn': 33},
 '1031': {'name': 'mask', 'pr': 50, 'qn': 100},
 '1032': {'name': 'headphones', 'pr': 1000, 'qn': 15},
 '1033': {'name': 'zoomin headphones', 'pr': 993, 'qn': 10},
 '1034': {'name': 'rice bag', 'pr': 700, 'qn': 10},
 '1035': {'name': 'daal', 'pr': 250, 'qn': 46},
 '1036': {'name': 'kurkure', 'pr': 20, 'qn': 20},
 '1037': {'name': 'study table', 'pr': 5999, 'qn': 5},
 '1038': {'name': 'geometry box', 'pr': 79, 'qn': 28},
 '1039': {'name': 'bag', 'pr': 1499, 'qn': 11},
 '1040': {'name': 'hand bags', 'pr': 500, 'qn': 32}}

In [ ]:
sales ={}

In [ ]:
n = 1
while(n==1):

  ui_prod  = input("Enter the product_Id: ")

  print("Product: ", records[ui_prod]['name'])
  print("total quantity : ", records[ui_prod]['qn'])
  ui_quant = int(input("Enter the quantity: "))

  if(ui_quant>records[ui_prod]['qn']):
    print("this much quantity is not available")
    ui_quant = int(input("Enter the quantity: "))
    
  print("Price: ", records[ui_prod]['pr'])
  print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)
  records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant
  
  {(len(sales)+1) :{'prod' : ui_prod,'name':records[ui_prod]['name'] , 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}}
  sales[len(sales)+1]={'prod' : ui_prod,'name':records[ui_prod]['name'] , 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

  print("if you want to continue shopping enter 1 for yes and 0 for no")
  n =int(input())

Enter the product_Id: 1035
Product:  daal
total quantity :  46
Enter the quantity: 5
Price:  250
Billing Amount:  1250
if you want to continue shopping enter 1 for yes and 0 for no
1
Enter the product_Id: 1029
Product:  towel
total quantity :  27
Enter the quantity: 4
Price:  336
Billing Amount:  1344
if you want to continue shopping enter 1 for yes and 0 for no
0

In [ ]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

In [ ]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 90},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'water botel', 'pr': 30, 'qn': 70},
 '1011': {'name': 'chair', 'pr': 300, 'qn': 29},
 '1012': {'name': 'notebook', 'pr': 50, 'qn': 80},
 '1013': {'name': 'pendrive', 'pr': 250, 'qn': 20},
 '1014': {'name': 'perfume', 'pr': 345, 'qn': 45},
 '1015': {'name': 'charger', 'pr': 100, 'qn': 56},
 '1016': {'name': 'face wash', 'pr': 463, 'qn': 34},
 '1017': {'name': 'laptop', 'pr': 50000, 'qn': 10},
 '1018': {'name': 'jam', 'pr': 50, 'qn': 25},
 '1019': {'name': 'lays', 'pr': 10, 'qn': 50},
 '1020': {'name': 'potato chips', 'pr': 20, 'qn': 20},
 '1021': {'name': 'diary milk', 'pr': 20, 'qn': 43},
 '1022': {'name': 'diary milk', 'pr': 50, 'qn': 10},
 '1023': {'name': 'detergent', 'pr': 200, 'qn': 13},
 '1024': {'name': 'soap', 'pr': 34, 'qn': 45},
 '1025': {'name': 'liquid hand wash', 'pr': 150, 'qn': 22},
 '1026': {'name': 'crockery set', 'pr': 555, 'qn': 5},
 '1027': {'name': 'nail paint', 'pr': 120, 'qn': 19},
 '1028': {'name': 'garam masala', 'pr': 36, 'qn': 15},
 '1029': {'name': 'towel', 'pr': 336, 'qn': 23},
 '1030': {'name': 'hand towel', 'pr': 50, 'qn': 33},
 '1031': {'name': 'mask', 'pr': 50, 'qn': 100},
 '1032': {'name': 'headphones', 'pr': 1000, 'qn': 15},
 '1033': {'name': 'zoomin headphones', 'pr': 993, 'qn': 10},
 '1034': {'name': 'rice bag', 'pr': 700, 'qn': 10},
 '1035': {'name': 'daal', 'pr': 250, 'qn': 41},
 '1036': {'name': 'kurkure', 'pr': 20, 'qn': 20},
 '1037': {'name': 'study table', 'pr': 5999, 'qn': 5},
 '1038': {'name': 'geometry box', 'pr': 79, 'qn': 28},
 '1039': {'name': 'bag', 'pr': 1499, 'qn': 10},
 '1040': {'name': 'hand bags', 'pr': 500, 'qn': 21}}

In [ ]:
Your_name = input("enter your name :")
phone_no = input("enter your number :")
address = input("enter your address :")
sales[len(sales)+1] ={'Your_name':Your_name , 'phone_no': phone_no ,'address':address}

enter your name :neeta singh
enter your number :9876543221
enter your address :road no. 4 near birla complex delhi

In [ ]:
sales

{1: {'amount': 300, 'name': 'water botel', 'prod': '1010', 'qn': 10},
 2: {'amount': 300, 'name': 'chair', 'prod': '1011', 'qn': 1},
 3: {'amount': 8000, 'name': 'Milk Cake', 'prod': '1002', 'qn': 10},
 4: {'amount': 5000, 'name': 'hand bags', 'prod': '1040', 'qn': 10},
 5: {'amount': 2000, 'name': 'detergent', 'prod': '1023', 'qn': 10},
 6: {'amount': 1000, 'name': 'notebook', 'prod': '1012', 'qn': 20},
 7: {'amount': 500, 'name': 'hand bags', 'prod': '1040', 'qn': 1},
 8: {'amount': 1499, 'name': 'bag', 'prod': '1039', 'qn': 1},
 9: {'amount': 240, 'name': 'nail paint', 'prod': '1027', 'qn': 2},
 10: {'amount': 1250, 'name': 'daal', 'prod': '1035', 'qn': 5},
 11: {'amount': 1344, 'name': 'towel', 'prod': '1029', 'qn': 4},
 12: {'Your_name': 'neeta singh',
  'address': 'road no. 4 near birla complex delhi',
  'phone_no': '9876543221'}}

In [ ]:
sale = json.dumps(sales)